{% extends "base.html" %}
{% load static %}

{% block title %}Mon panier{% endblock %}
{% block content %}
    <h1 class="lead">Mon panier</h1>

    {% if cart %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Produit</th>
            <th>PU</th>
            <th>Qté</th>
            <th>Total HT</th>
            <!-- <th>TVA</th> -->
            <th>Total TTC</th>
        </tr>
        </thead>
        <tbody>
        {% for cart_line in cart %}
            <tr>
                <td>{{ cart_line.product.nom_article }}</td>
                <td>{{ cart_line.product.prix_article }} €</td>
                <td>{{ cart_line.quantity }}</td>
                <td>{{ cart_line.total_ht }} €</td>
                <!-- <td>{{ cart_line.total_vat }} €</td> -->
                <td>{{ cart_line.total }} €</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>À payer</th>
            <th>{{ grand_total }} €</th>
        </tfoot>
    </table>

    <a class="btn btn-lg btn-primary pull-right" href="{% url 'checkout' %}"><i class="fa fa-shopping-cart"></i> Commander</a>
    <a class="btn btn-danger pull-right" style="margin-right:20px;" href="{% url 'clear_cart' %}"><i class="fa fa-trash"></i> Vider le panier</a>

    {% else %}
        <div class="alert alert-warning" role="alert"><a href="" class="btn btn-default btn-lg pull-right">Remplir mon panier !</a>
            <i class="fa fa-shopping-cart fa-3x pull-left"></i> <h4>Votre panier est vide :'(</h4>
            <p>Commencez dès maintenant à rechercher votre article préféré dans notre vaste catalogue de produits !</p>
        </div>
    {% endif %}

{% endblock %}