{% extends "base.html" %}
{% load static %}
{% block title %}Mur de messages{% endblock %}
{% block content %}
<body>
    <div class="dropper" style="background-image:url({% static 'img/agglo.png' %});width: 100%;" />
        
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="draggable" draggable="true" contenteditable="true">
                    <form action="" method="post">
                        {% csrf_token %}
                        <!-- <textarea type="textarea" rows="9" cols="25" maxlength='200'/>{{ form.message }}</textarea> -->
                        {{ form.message }}
                        {{ form.pseudo }}
                        <!-- <table>
                        {{ form }}
                         </table> -->
                       
                    
                    <!-- <textarea type="textarea" rows="1" cols="25" maxlength='10'/>Pseudo</textarea> -->
                    <button type="submit" class="boutonmessage" name="register">
                        <i class="fas fa-edit" href="{% url 'envoimess' %}"></i>Afficher le message
                    </button></div>
                    </form>     
                </div>
            {% for m in murs %}
            <div class="col-md-3 col-sm-6">
                <div class="draggable" draggable="true">{{ m.message }} <br>{{ m.pseudo }}</div>
               
                
            </div>
            {% endfor %}
        
        </div>
           
    </div>
    
    
    <script>(function() {

        var dndHandler = {
    
            draggedElement: null, // Propriété pointant vers l'élément en cours de déplacement
    
            applyDragEvents: function(element) {
    
                element.draggable = true;
    
                var dndHandler = this; // Cette variable est nécessaire pour que l'événement « dragstart » ci-dessous accède facilement au namespace « dndHandler »
    
                element.addEventListener('dragstart', function(e) {
                    dndHandler.draggedElement = e.target; // On sauvegarde l'élément en cours de déplacement
                    e.dataTransfer.setData('text/plain', ''); // Nécessaire pour Firefox
                });
    
            },
    
            applyDropEvents: function(dropper) {
    
                dropper.addEventListener('dragover', function(e) {
                    e.preventDefault(); // On autorise le drop d'éléments
                    this.className = 'dropper drop_hover'; // Et on applique le style adéquat à notre zone de drop quand un élément la survole
                });
    
                dropper.addEventListener('dragleave', function() {
                    this.className = 'dropper'; // On revient au style de base lorsque l'élément quitte la zone de drop
                });
    
                var dndHandler = this; // Cette variable est nécessaire pour que l'événement « drop » ci-dessous accède facilement au namespace « dndHandler »
    
                dropper.addEventListener('drop', function(e) {
    
                    var target = e.target,
                        draggedElement = dndHandler.draggedElement, // Récupération de l'élément concerné
                        clonedElement = draggedElement.cloneNode(true); // On créé immédiatement le clone de cet élément
    
                    while (target.className.indexOf('dropper') == -1) { // Cette boucle permet de remonter jusqu'à la zone de drop parente
                        target = target.parentNode;
                    }
    
                    target.className = 'dropper'; // Application du style par défaut
    
                    clonedElement = target.appendChild(clonedElement); // Ajout de l'élément cloné à la zone de drop actuelle
                    dndHandler.applyDragEvents(clonedElement); // Nouvelle application des événements qui ont été perdus lors du cloneNode()
    
                    draggedElement.parentNode.removeChild(draggedElement); // Suppression de l'élément d'origine
    
                });
    
            }
    
        };
    
        var elements = document.querySelectorAll('.draggable'),
            elementsLen = elements.length;
    
        for (var i = 0; i < elementsLen; i++) {
            dndHandler.applyDragEvents(elements[i]); // Application des paramètres nécessaires aux éléments déplaçables
        }
    
        var droppers = document.querySelectorAll('.dropper'),
            droppersLen = droppers.length;
    
        for (var i = 0; i < droppersLen; i++) {
            dndHandler.applyDropEvents(droppers[i]); // Application des événements nécessaires aux zones de drop
        }
    
    })();


    $(".draggable").draggable({
    start: function (event, ui) {
        $(this).data('preventBehaviour', true);
    }
});
$(".draggable :input").on('mousedown', function (e) {
    var mdown = document.createEvent("MouseEvents");
    mdown.initMouseEvent("mousedown", false, true, window, 0, e.screenX, e.screenY, e.clientX, e.clientY, true, false, false, true, 0, null);
    $(this).closest('.draggable')[0].dispatchEvent(mdown);
}).on('click', function (e) {
    var $draggable = $(this).closest('.draggable');
    if ($draggable.data("preventBehaviour")) {
        e.preventDefault();
        $draggable.data("preventBehaviour", false)
    }
});
</script>
</body>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}
