<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="C:/Users/rddal/OneDrive/Bureau/bootstrap-4.3.1/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">      
    <link rel="stylesheet" href="C:\Users\rddal\OneDrive\Bureau\site_eb\essai menu.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
<title>
<div class="page">
<header>        
<img src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\header.png" alt="Mon image" class="imagefond"/>
</title>
<nav>
<ul>
    <li><a href="C:\Users\rddal\OneDrive\Bureau\site_eb\projet barremenu.html">Accueil</a></li>
    <li><a href="#2">Boutique</a></li>
    <li><a href="#3">Boîtes à idées</a></li>
    <li><a href="#4">A propos de nous</a></li>
    <li><a href="#5"><img src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\facebook.png" class="imagelogo"/></a></li>
    <li><a href="#6"><img src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\insta.png" class="imagelogo"/></a></li>
    <li><a href="#7"><img src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\trolley.png" class="imagelogo"/></a></li>
</ul>
</nav>
</header>
<main class="site-content">
<div class="container">
    <h3 class="h3">Notre Boutique</h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png">
                        <img class="pic-2" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png">
                    </a>
                    <ul class="social">
                        <li><a<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#MyModal" data-tip="Quick View" data-backdrop="false"><i class="fa fa-search" style="color: white; font-
                        size: 40px"></i></a></button></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </div> 
                    
                
                    </ul>
                    <span class="product-new-label">A vendre</span>
                    <span class="product-discount-label">20%</span>
                
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's Blouse</a></h3>
                    <div class="price">€16.00
                        <span></span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0283.png">
                        <img class="pic-2" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0284.png">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png">
                        <img class="pic-2" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png">
                        <img class="pic-2" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br></br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png">
                        <img class="pic-2" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">20%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's Blouse</a></h3>
                    <div class="price">$16.00
                        <span>$20.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0283.png">
                        <img class="pic-2" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0283.png">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png">
                        <img class="pic-2" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png">
                        <img class="pic-2" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div> <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">«</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">»</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav> </div>
</main>
<hr>

    <!----------- Footer ------------>

    <footer class="footer-bs">

<div class="wrapper">
 
       	<div class="gauche">
            	<h2><img src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\logo2.png" class="imagelogo1"/></h2>              
<p class="titrefooter">Artisan menuisier</p>
<p class="titrefooter">Fabricant de jouet en bois</p>                
<p>© 2018 E&B, All rights reserved</p>
            
</div>
        	
<div class="gauche">
            	
<h4>Menu —</h4>
            	
<div class="milieu">
                    
<ul1 class="pages">
                        
<li><a href="#">Accueil</a></li>
                        
<li><a href="#">Boutique</a></li>
                        
<li><a href="#">Boîtes à idée</a></li>
                        
<li><a href="#">A propos de nous</a></li>
                        
                    
</ul1>
                
</div>
            	
<div class="milieu">

                    <ul1 class="list">

                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Termes & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>

                    </ul1>

                </div>

            </div>

        	<div class="droite">
            	<h4>Follow Us</h4>

            	<ul1>

                	<li><a href="#"><img src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\facebook1.png" class="imagelogo"/></a></li>

                	<li><a href="#"><img src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\insta2.png" class="imagelogo"/></a></li>


                </ul1>

            </div>

        	<div class="droite">
         	<h4>Newsletter</h4>

                <p>Pour avoir de nous nouvelles régulièrement</p>
                <p>

                    <div class="input-group">

                      <input type="text" class="form-control" placeholder="e-mail">

                      <button class="favorite styled" type="button">Envoyer</button>


                    </div>
<!-- /input-group -->

                 </p>

            </div>

        </div>

    </footer>

    <section style="text-align:center; margin:10px auto;"><p>Designed by rdd</p></section>

</div>
                            <div class="modal" id="MyModal" role="dialog">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title">Fiche article</h4>
                                  </div>
                                  <div class="modal-body">
                                    <img class="product-im" src="C:\Users\rddal\OneDrive\Bureau\site_eb\blog\DSC_0038.png" alt=""><span class="cost" <strong> 15€ </strong></span>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <select class="form-control" name="select">
                                                <option value="" selected="">Bois</option>
                                                <option value="black">Naturel</option>
                                                <option value="white">Blanc</option>
                                                <option value="gold">Foncé</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <select class="form-control" name="select">
                                                <option value="" selected="">QTY</option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                  </div>
                                  <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Ajouter à ma liste d'envie</button>
                                  </div>
                                </div>
                              </div>
                            </div>    
                            
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>